body {
  margin: 0;
  background: lavender;
}
.page {
  display: block;
}
.menu {
  --player-height: 50px;
}
.menu-list {
  padding: 0px;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(calc(-100% + 155px));
  transition: 0.1s;
  z-index: 1;
}
.menu-list-active {
  transform: translateY(150px);
  transition: 0.2s;
}
.menu-item {
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  margin: 0;
  padding: 30px 20%;
  font-size: 50px;
}
.menu-item:hover {
  text-decoration: none;
  background-color: darkslategrey;
  color: white;
}
.audio-player {
  z-index: 2;
  top: 0px;
  height: var(--player-height);
  width: 100%;
  position: fixed;
  zoom: 300%;
  background-color: whitesmoke;
}
.stotra {
  margin-top: 160px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}
.title {
  background: darkslategrey;
  color: white;
  border-radius: 10px;
}
.title > h1 {
  width: 100%;
  font-size: 80px;
}
.verse-item {
  background-color: lavenderblush;
  margin: 100px 5%;
  padding: 10px 10px;
  border-radius: 50px;
  font-size: 15px;
}
footer {
  height: 100px;
}

div {
  /* border: solid; */
}
