body {
  margin: 0;
  background: lavender;
}
.page {
  display: block;
}
.menu {
  width: 100%;
  background: lightgrey;
  margin-top: 180px;
  /* margin-left: 5px; */
  /* border-radius: 10px; */
  text-align: center;
}
.menu-list {
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  padding: 20px 0;
}
.menu-item {
  /* border: solid; */
  border-radius: 3px;
  margin: 20px 0;
  padding: 10px 20%;
}
.menu-item:hover {
  text-decoration: underline;
  background-color: lavender;
  cursor: pointer;
}
.player-container {
  width: 100%;
  top: 0;
  position: fixed;
}
.audio-player {
  width: 100%;
  zoom: 300%;
}
.stotra {
  text-align: center;
  width: 100%;
  border-radius: 10px;
}
.title {
  background: darkslategrey;
  color: white;
  margin: 0;
  padding: 10px 0;
  border-radius: 10px;
}
.stotra-content {
}
.verse-item {
  background-color: lavenderblush;
  margin: 100px 5%;
  padding: 10px 10px;
  border-radius: 50px;
  font-size: 15px;
  /* width: max-content; */
}
footer {
  height: 100px;
}

div {
  /* border: solid; */
}
